body {
    font-family: 'Roboto', sans-serif;
    background-color: #F4F4F4;
    padding: 20px;
    line-height: 1.6;
    max-width: 900px;
    margin: auto;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    color: #003366;
}


img {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 20px;
}