:root {
    --title-font: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;

    --subtitle-font: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;

    --general-font:"Roboto",sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;

    --verde:#334e38;
    --gray:#2F2F2F;
    --beige: #f3f1e8;
    --beige-page: #F4F1DE;
    --dorado: #653a08;
}

*{
    margin: 0;
    padding: 0;
}

.global-texture {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.3;
    pointer-events: none;
    z-index: 9999;
}

header{
    max-width: 100%;
    padding: 10px 0;
    display: grid;
    grid-template-columns: auto 60px;
    column-gap: 8px;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--beige-page);
}

.titles{
    margin-left: 50px;
}

.titles h1 {
    font-size: 1.5rem;
    margin: 0;
    
}
.titles h2 {
    font-size: 1.1rem;
    margin-left: 30px;
    color: var(--dorado);
}

.hamburger {
    margin-right: 20px;
    background-color: white;
    border: none;
    cursor: pointer;
    background-color: var(--beige-page);
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00d7";
}

/******************** NAVEGATION ********************/
.navegation {
    display: none;
}

.navegation.show {
    display: block;
    max-width: 100%;
    grid-column: 1/3;
    margin-top: 5px;
}

.navegation a {
    font-size: 1rem;
    display: block;
    padding: 15px;
    text-decoration: none;
    border-bottom: solid 0.1px rgb(0, 0, 0);
    color: black;
}

.navegation a:hover {
    background-color: rgb(49, 49, 49);
    color: white;
}

footer {
    background-color: var(--verde);
    color: var(--beige);
    max-width: 100%;
    min-height: 200px;
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
}

.social a img {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    aspect-ratio: 1 / 1;
    color: var(--beige);
}
