:root {
    --title-font: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;

    --subtitle-font: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    --general-font: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;

    --verde: #1f2d21;
    --gray: #2F2F2F;
    --beige: #f3f1e8;
    --beige-page: #F4F1DE;
    --dorado: #653a08;
    --dorado-2: #D4A373;
}

* {
    margin: 0;
    padding: 0;
}

.global-texture {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.25;
    pointer-events: none;
}

p,
h2,
h1,
img,
input,
label {
    position: relative;
    z-index: 1;
}

header {
    max-width: 100%;
    padding: 10px 0;
    display: grid;
    grid-template-columns: auto 60px;
    column-gap: 8px;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--beige-page);
}

.titles {
    margin-left: 70px;
}

.titles h1 {
    font-size: 1.6rem;
    margin: 0;
    font-family: var(--title-font);
}

.titles h2 {
    font-size: 1.1rem;
    margin-left: 30px;
    color: var(--dorado);
}

.hamburger {
    margin-right: 10px;
    border: none;
    cursor: pointer;
    background-color: var(--beige-page);
    color: black;
    position: relative;
    z-index: 1;

}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;

}

.hamburger.show::before {
    content: "\00d7";
}

/******************** NAVEGATION ********************/
.navegation {
    display: none;

}

.navegation.show {
    display: block;
    max-width: 100%;
    height: auto;
    grid-column: 1/3;
    margin-top: 5px;
}

.navegation a {
    font-size: 1rem;
    display: block;
    padding: 15px;
    text-decoration: none;
    border-bottom: solid 0.1px rgb(0, 0, 0);
    color: var(--gray);
    font-weight: bold;
}

.navegation a:hover {
    background-color: var(--verde);
    color: var(--beige);
}

/******************** MAIN ********************/


.hero {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
    margin-bottom: 0;

}

.introduccion {

    background-color: var(--verde);
    color: white;
    padding: 20px 30px;
    font-size: 1.2rem;
    font-family: var(--general-font);
}

.introduccion h2 {
    color: var(--dorado-2);
    font-size: 1.5rem;
    margin: 10px 0;
    font-family: var(--subtitle-font);
}

.introduccion button {
    font-size: 1.3rem;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid var(--dorado-2);
    border-radius: 0.4rem;
    background-color: var(--dorado-2);
    color: var(--verde);
    font-family: var(--subtitle-font);
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.album-titles h1 {
    margin: 0 30px;
    margin-top: 20px;
    font-family: var(--subtitle-font);
    font-size: 2rem;
    color: var(--verde);

}

.album-titles h2 {
    margin: 10px 30px;
    font-family: var(--subtitle-font);
    font-size: 1.2rem;
    color: var(--verde);
}

.albums {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    background: linear-gradient(180deg,
            white 0%,
            white 6%,
            #F4F1DE 6%,
            #F4F1DE 100%);
}

.album-card {
    margin: 0 auto;
    max-width: 300px;

    height: auto;
    min-height: 400px;
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    background-color: white;
}

.album-card img {
    width: 100%;
    height: auto;
}

.inside-album {
    padding: 7px;
}

.inside-album h2 {
    font-size: 1.6rem;
}

.inside-album .date {
    font-size: 1.5rem;
    border-bottom: 0.1px solid var(--verde);
    list-style: none;
    font-family: none;
    margin: 7px 0;
}

.inside-album p {
    display: list-item;
    list-style-type: circle;
    margin-left: 20px;
    margin-bottom: 7px;
    font-size: 1.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inside-album button {
    display: block;
    margin: 0 auto;
    border-radius: 1rem;
    margin-top: 10px;
    width: 200px;
    font-size: 1.5rem;
    font-family: var(--subtitle-font);
    background-color: transparent;
    color: black;
    cursor: pointer;
    border: 1.5px solid black;
}

.inside-album button:hover {
    background-color: var(--verde);
    color: white;
}

dialog {
    border: none;
    border-radius: 0.5rem;
    margin: auto;
    width: 70%;
    height: 75%;
    max-width: 400px;
    max-height: 600px;
    font-size: 1.4rem;

}

dialog h2 {
    border-bottom: 1px solid var(--gray);
    padding: 10px;
    margin-bottom: 10px;
}

dialog li {
    padding: 1px 15px;
    list-style: circle;
}

dialog button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    background-color: var(--verde);
    color: white;
    font-size: 1.4rem;
}

::backdrop {
    background-color: rgba(225, 225, 225, 0.75);
}

/******************** FOOTER ********************/

footer {
    background-color: var(--verde);
    color: var(--beige);
    max-width: 100%;
    min-height: 250px;
    margin: 0;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2rem;
}

.social a img {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    aspect-ratio: 1 / 1;
    color: var(--beige);
}


/*********************** Join Us ***********************/

.titleJoin {
    font-family: var(--subtitle-font);
    color: var(--verde);
}

.titleJoin h1 {
    margin: 0;
    padding: 5px 15px;
    font-size: 1.7rem;
}

.titleJoin h2 {
    padding: 0 15px;
    font-size: 1.4rem;
}

form {
    margin: 20px 0;
}

label {
    display: block;
    padding: 10px;
    font-size: 1.1rem;
}

input,
select {
    padding: 8px;
    margin: 5px;
    border: solid 1.5px black;
}

.form-row {
    display: grid;
    grid-template-columns: 140px 1fr;
    gap: 1rem;
    align-items: center;
}

input:required {
    border-left: 5px solid #d70000;
}

input:focus {
    border-left-color: black;
    outline: none;
}

input:required:valid {
    border-left-color: green;
}

.makeSubmit {
    display: block;
    width: 400px;
    padding: 5px;
    border-radius: 0.7rem;
    font-size: 1.7rem;
    margin: 0 auto;
    margin-top: 10px;
    background-color: var(--verde);
    color: white;
    border: 2px solid black;
    font-family: var(--subtitle-font);

}

.makeSubmit:hover {
    box-shadow: 0 2px 4px 2px black;
}

.joinSection {
    display: grid;
    grid-template-columns: 1fr;
    background: linear-gradient(180deg,
            white 0%,
            white 22%,
            #F4F1DE 22%,
            #F4F1DE 100%);
}

.joinSection h2 {
    margin: 15px;
    font-size: 1.7rem;
    font-family: var(--subtitle-font);
    color: var(--verde);
}

.joinCard {
    max-width: 350px;
    height: auto;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 2px 4px black;
    margin-bottom: 20px;
    background-color: white;
}

.joinCard img {
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 220px;
}

.joinCard h3 {
    padding: 5px;
}

.joinCard p {
    font-size: 1.05rem;
    padding: 0 7px 5px 7px;
}