@media screen and (min-width: 700px) {
    :root {
        --title-font: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;

        --subtitle-font: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;

        --general-font: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;

        --verde: #1f2d21;
        --gray: #2F2F2F;
        --beige: #f3f1e8;
        --beige-page: #F4F1DE;
        --dorado: #653a08;
        --dorado-2: #D4A373;
    }

    header {
        max-width: 100%;
        padding: 30px 0;
        display: grid;
        grid-template-columns: 1.2fr auto;
    }

    .titles {
        grid-column: 1/2;
    }

    .titles h1 {
        font-size: 2.2rem;
        text-align: center;
    }

    .titles h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .hamburger {
        display: none;
    }

    /******************** NAVEGATION ********************/
    .navegation {
        margin-right: 40px;
        grid-column: 2/3;
        display: block;
        position: relative;
        z-index: 1;
    }

    .navegation ul {
        display: flex;
        gap: 15px;
        list-style: none;
    }

    .navegation a {
        font-size: 1.4rem;
        border: none;
    }

    .navegation a:hover {
        color: var(--dorado);
        background-color: transparent;
    }


    .albums {
        padding: 0 60px;
        grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    }

    dialog {
        height: 65%;
    }

    /*********************** Join Us ***********************/

    .titleJoin h1 {
        font-size: 2.1rem;
    }

    .titleJoin h2 {
        font-size: 1.6rem;
    }

    form {
        margin-left: 10px;
    }

    label {
        font-size: 1.4rem;
    }

    .form-row {
        grid-template-columns: 200px 1fr;
    }

    .whyJoin {
        margin-bottom: 30px;
    }

    .joinSection {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
        padding-bottom: 10px;
    }

    .joinCard h3 {
        font-size: 1.5rem;
    }

    .joinCard p {
        font-size: 1.3rem;
    }

    .joinSection {
        background: linear-gradient(180deg,
                white 0%,
                white 40%,
                #F4F1DE 40%,
                #F4F1DE 100%);
    }

    /*********************** BIOGRAPHY ***********************/

    .biography {
        max-width: 1000px;
        margin: 0 auto;
    }

    .biography h1 {
        font-size: 2.5rem;
    }

    .biography h2 {
        font-size: 2rem;
    }

    .biography h3 {
        font-size: 1.9rem;
    }

    /*********************** THANKS ***********************/
    .titles-thanks {
        text-align: center;
    }

    .titles-thanks h1 {
        font-size: 2.4rem;
    }

    .titles-thanks h2 {
        font-size: 1.9rem;
        margin-right: 10px;
    }

}