body {
    font-family: 'Roboto', sans-serif;
    background-color: #F4F4F4;
    padding: 20px;
    line-height: 1.6;
    max-width: 900px;
    margin: auto;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    color: #003366;
}

.color-box1 p{
    border: 1 px solid;
    background-color: #2F2F2F;
    color: white;
}

.color-box2 p{
    background-color: #F4F1DE;
    color: #000000;
}

.color-box3 p{
    background-color: #3A5A40;
    color: #ffffff;

}

.color-box4 p{
    background-color: #D4A373;
    color: #ffffff;
}


img {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 20px;
}
