*{box-sizing: border-box;}

#openButton{
    background-color: aqua;
}

#dialogBox {
    background-color:lavender;
}

#closeButton {
    background-color: violet;
}

::backdrop{
    background-color: rgba(225, 128, 0, 0.1);
}
