header,
.navegation,
main {
    margin: 0 auto;
    padding: 15px;
}


/******************** HEADER ********************/

header {
    max-width: 320px;
    display: grid;
    grid-template-columns: 30px auto 44px;
    column-gap: 8px;
    border-bottom: solid 1px #ddd;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header img {
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
}

.hamburger {
    background-color: white;
    border: none;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.6rem;
}

.hamburger.show::before {
    content: "\00d7";
}

/******************** NAVEGATION ********************/
.navegation {
    display: none;
}

.navegation.show {
    display: block;
    max-width: 320px;
}

.navegation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navegation a {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    border-bottom: solid 0.1px rgb(0, 0, 0);
}

.navegation a:hover {
    background-color: rgb(49, 49, 49);
    color: white;
}

/******************** MAIN ********************/

.grid-list {
    max-width: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-bottom: 15px;
}

.grid-list button {
    width: 100px;
    height: auto;
    font-size: 1.5rem;
    border-radius: 0.7rem;
}

/******************** GRID BUTTON*/

.members.grid {
    max-width: 320px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.members.grid div {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 0.8rem;
    padding: 10px;
    text-align: center;

}

.members.grid img {
    max-width: 250px;
    height: auto;
}

.members.grid p {
    display: block;
}

/******************** LIST BUTTON*/

.members.list {
    max-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.members.list div {
    display: grid;
    grid-template-columns: 2fr 0.9fr 0.5fr;
    margin: 0;
    padding: 0.25rem;
    font-size: 0.6rem;
    border: solid 1px black;
}


.members.list img,
p {
    display: none;
}

.members.list .number {
    display: block;
    margin-top: 15px;
}

.members.list a {
    margin: 15px;
}

/******************** FOOTER ********************/

footer {
    max-width: 100%;
    display: grid;
    margin: 0 auto;
    padding: 15px;
    background-color: rgb(195, 195, 195);
}

.social a img {
    width: 40px;
    height: auto;
}

footer p {
    display: block;
}