:root {
    --secondary-background: #ededec;
    --principal-text: #2E2E2E;
    --pricipal-font: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


header,
.navegation,
main {
    margin: 0 auto;
    padding: 15px;
    background-color: var(--secondary-background);
}



/******************** HEADER ********************/
.hidden {
    display: none;
}

header {
    max-width: 100%;
    display: grid;
    grid-template-columns: 30px auto 44px;
    column-gap: 8px;
    border-bottom: solid 1px #3a3a3a;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header img {
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
}

.hamburger {
    background-color: white;
    border: none;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.6rem;
    background-color: var(--secondary-background);
}

.hamburger.show::before {
    content: "\00d7";
}

/******************** NAVEGATION ********************/
.navegation {
    display: none;
}

.navegation.show {
    display: block;
    max-width: 500px;
}

.navegation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navegation a {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    border-bottom: solid 0.1px rgb(0, 0, 0);
    color: black;
}

.navegation a:hover {
    background-color: rgb(49, 49, 49);
    color: white;
}

/******************** MAIN ********************/

h2 {
    font-family: var(--pricipal-font);
}

.directory{
    background-color: var(--secondary-background);
}

.grid-list {
    max-width: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-bottom: 15px;
}

.grid-list button {
    width: 100px;
    height: auto;
    font-size: 1.5rem;
    border-radius: 0.7rem;
    cursor: pointer;
}

/******************** GRID BUTTON*/

.members.grid {
    max-width: 320px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.members.grid div {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 0.8rem;
    padding: 10px;
    text-align: center;
    background-color: white;
}

.members.grid img {
    max-width: 250px;
    height: auto;
}

.members.grid p {
    display: block;
}

/******************** LIST BUTTON*/

.members.list {
    max-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.members.list div {
    display: grid;
    grid-template-columns: 2fr 0.9fr 0.5fr;
    margin: 0;
    padding: 0.25rem;
    font-size: 0.6rem;
    border: solid 1px black;
}

.members.list div p {
    display: none;
}

.members.list div img {
    display: none;
}

.members.list .number {
    display: block;
    margin-top: 15px;
}

.members.list a {
    margin: 15px;
}

/******************** FOOTER ********************/

footer {
    max-width: 100%;
    min-height: 400px;
    display: grid;
    margin: 0 auto;
    padding: 15px;
    background-color: rgb(195, 195, 195);
    grid-template-columns: 1fr;
    gap: 20px;
    font-display: swap;
}

.social a img {
    width: 40px;
    height: 40px;
    aspect-ratio: 1 / 1;
}

footer p {
    display: block;
}

/************************** HOME PAGE **************************/

.home-main {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.hero {
    width: 70%;
    height: auto;
    margin: 0 auto;
}

.join {
    width: 400px;
    padding: 10px;
    border-radius: 0.7rem;
    background-color: var(--principal-text);
    color: white;
    font-family: var(--pricipal-font);
    font-size: 1.3rem;
    margin: 0 auto;
}

.section {
    max-width: 100%;
    border: solid 1px black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 0.8rem;
}

.section h2 {
    margin: 0px;
    padding: 10px;
    width: 100%;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    background-color: #3a3a3a;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

.section.events {
    min-height: 250px;
}

.section.weather {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 1.1rem;
}

.section.weather h2 {
    grid-column: 1/3;
    height: 49px;
    margin: 0;
}

.section.weather img,
figcaption {
    grid-column: 1/2;
    text-align: center;
}

.section.weather .weather-info {
    grid-column: 2/3;
}

.forecast {
    display: grid;
    justify-content: center;
    font-size: 1.7rem
}

/************************** JOIN PAGE **************************/

.join-page {
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    background-color: white
}

.title {
    margin-bottom: 20px;
    font-family: var(--pricipal-font);
}

label {
    display: block;
    padding: 10px;
    font-size: 1.1rem;
}

input,
select,
textarea {
    padding: 8px;
    margin: 5px;
    border: solid 1.5px black;
}

.form-row {
    display: grid;
    grid-template-columns: 180px 1fr;
    gap: 1rem;
    align-items: center;
}

input:required {
    border-left: 5px solid #d70000;
}

input:focus {
    border-left-color: black;
    outline: none;
}

input:required:valid {
    border-left-color: green;
}

.makeSubmit {
    display: block;
    width: 400px;
    padding: 10px;
    border-radius: 0.7rem;
    background-color: var(--principal-text);
    color: white;
    font-family: var(--pricipal-font);
    font-size: 1.3rem;
    margin: 0 auto;
    margin-top: 10px;
}

.membership-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.membership-cards div {
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: white;
    border-radius: 0.7rem;
}

.membership-cards div h3 {
    padding-bottom: 10px;
    border-bottom: 1.6px solid white;
}

.np {
    background: linear-gradient(145deg,
            hsl(135, 82%, 30%),
            hsl(135, 87%, 22%),
            hsl(135, 62%, 42%),
            hsl(130, 87%, 18%));
    border: 2px solid black;
}

.bronze {
    background: linear-gradient(145deg,
            #c89b6a 0%,
            #8b5e34 40%,
            #6f4a29 60%,
            #b8895a 100%);
    border: 2px solid black;
    color: #ffffff;
}

.silver {
    background: linear-gradient(145deg,
            #e5e7eb 0%,
            #9ca3af 35%,
            #6b7280 60%,
            #d1d5db 100%);
    border: 2px solid black;
}

.gold {
    background: linear-gradient(145deg,
            #f6e27f 0%,
            #c9a227 35%,
            #9f7f19 60%,
            #e3c55b 100%);
    border: 2px solid black;
    ;
}

.mydialog {
    text-align: start;
    padding: 0;
}

.mydialog h2 {
    margin: 3px;
    font-size: 1.6rem;
}

.mydialog div {
    display: grid;
    grid-template-columns: auto 44px;
    color: black;
    padding: 5px;
    border-bottom: solid 0.5px #aaa;
    border-radius: 0;
}

.mydialog button {
    font-family: var(--pricipal-font);
    height: auto;
    border: none;
    cursor: pointer;
}

.mydialog p {
    padding-left: 10px;
    font-size: 1.3rem;
}

.mydialog li {
    padding: 5px;
}

::backdrop {
    background-color: rgba(225, 225, 225, 0.75);

}


/************************** DISCOVER PAGE **************************/
main{
    background-color: white;
}

.titulos{
    margin: 0 auto;
    max-width: 100%;
    font-family: var(--pricipal-font);
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

.places{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    max-width: 400px;
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: var(--secondary-background);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.places h2{
    text-align: center;
    padding: 0 10px;
}

.places img{
    width: 300px;
    height: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 0.7rem;
}

.places address, p{
    padding: 0 20px;
    text-align: center;
    font-size: 1.1rem;
}

.places button{
    max-width: 200px;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: var(--principal-text);
    color: white;
    border-radius: 0.6rem;
    font-family: var(--pricipal-font);
}
