@media screen and (mi-width: 500px) {
    /****************** FOOTER *****************/

    header {
        max-width: 100%;
        grid-template-columns: 44px auto auto;
        align-items: end;
    }

    header span {
        font-size: 1.7rem;
    }

    .hamburger {
        display: none;
    }

    .navegation {
        display: block;
        max-width: 100%;
    }

    .navegation ul {
        display: flex;
        max-width: 100%;
        font-size: 1.2rem;
    }

    .navegation a {
        color: black;
        border: none;
    }

    .navegation a:hover {
        background-color: rgb(49, 49, 49);
        color: white;
    }

    .section3 h2 {
        border: none;
    }

    /****************** FOOTER *****************/
    footer {
        max-width: 100%;
        text-align: center;
    }

    .social a img {
        width: 40px;
        height: auto;
        margin-top: 20px;
    }

    .rights {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        font-size: 1rem;
    }
}