header,
main,
footer {
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    background-color: wheat;
}

/*small view*/


header {
    max-width: 350px;
}

h1 {
    margin: 0;
}

main {
    max-width: 350px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

h2 {
    text-align: center;
    background-color: black;
    color: white;
    height: 30px;
    padding: 0;
    margin: 0;
}

.insidesection {
    background-color: gray;
}

.section1 p {
    padding: 15px;
    margin: 0;
}

.section2 img {
    display: block;
    width: 250px;
    margin: 0 auto;
    padding: 25px 0 25px 0;
}


footer {
    max-width: 350px;
    text-align: center;
}

/*large view*/
@media screen and (min-width: 350px) {
}